body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg , #845ec2,#d65db1, #ff6f91,#ff9671,#ffc75f,#f9f871);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color {
    0%{

        background-position: 0 50%;
    }
    50%{

        background-position: 100% 50%;
    }
    100%{

        background-position: 0 50%;
    }
}

.todo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    max-width: 300px;
    width: 100%;
}
.todo__add{
    width: auto;
}

.todo__header .title {
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: white;
    width: 173.5%;

}

.todo__add form {
    margin-bottom: 10px;
}

.todo__add form input {
    border-radius: 20px;
    width: 173.5%;
    font-size: 18px;
    border: none;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.todo__add form input::placeholder {
    color: rgb(118, 118, 118);
}

.todo__add form input:focus-visible {
    outline: none;

}

.todo__body {
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 180%;
    height: 250px;
    overflow-y: auto;
    box-shadow: 15px 15px 20px #494949;

}

.todo__body .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    row-gap: 5px;

}

.todo__body .empty img {
    width: 150px;
}

.todo__body .empty .title {
    color: #fff;
    margin: 0;
}

.todo__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.todo__list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #494949;
    padding: 10px 20px;
    gap: 5px;

}

.todo__list li:last-child {
    border-bottom: none;
}

.todo__list li label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    gap: 5px;
}

.todo__list li input[type="text"] {
    border: none;
    width: 100%;
    font-size: 22px;
    border-radius: 3px;

    color: blue;
}

.todo__list li input[type="text"]:focus-visible {
    outline: none;
}

.todo__list li input[type="text"]:read-only {
    background: transparent;
    color: rgb(0, 0, 0);
    pointer-events: none;
}

.todo__list li input[type="checkbox"] {
    margin: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.todo__list li[data-status="completed"] input[type="text"] {
    text-decoration: line-through;
    color: #aaa;
}

.todo__list li .actions {
    display: flex;
    column-gap: 5px;
}

.todo__list li .actions .js-edit {
    border: solid;
    background: none;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: blue;
    padding: 3px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border-width: 1px;
}
.todo__list li .actions .js-delete {
    border: solid;
    background: none;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: red;
    padding: 3px;
    border-radius: 100%;
    width: 30px;
    height: 30px;

    border-width: 1px;

}

.todo__list li .actions .js-edit:hover {
    color: white;
    background-color: blue;
      
}
.todo__list li .actions .js-delete:hover {
    color: white;
    background-color: rgb(255, 0, 0);
      
}

.todo__footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 15px 20px 20px #494949;
    border-bottom: 1px solid #494949;
    color: #000000;
    font-size: 20px;
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 173.3%;
}
.todo__footer .clear{
    cursor: pointer;
}
.todo__footer .clear:hover{
    color: red;
}